* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #131921;
  --color-464646: #464646;
  --color-232f3e: #232f3e;
  --color-white: #fff;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul li {
  list-style: none;
  padding-bottom: 1rem;
}

/* header part */

.header-upper {
  background-color: var(--color-primary);
}

/* header part end*/

/* footer part start */
.footer {
  background-color: var(--color-232f3e);
}
.footer ul li a {
  color: var(--color-white);
}
.footer-top {
  border-bottom: 1px solid var(--color-464646);
}
#root {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* footer part end */

/* .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  min-width: 320px !important;
} */
